.admin-input-form {
  background-color: rgb(37, 37, 71);
  border: none;
  min-height: 36px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  &:hover {
    background-color: rgb(37, 37, 71);
  }
  color: white;
}
.admin-input-form-wrapper {
  width: 100%;
  min-height: 40px;
  .input-error-message {
    position: relative;
    width: 100%;
    & span {
      position: absolute;
      padding-top: 5px;
      color: red;
      left: 0;
      font-size: 12px;
    }
  }
}
