.select-form {
  position: relative;
  &:hover {
    background-color: rgb(44, 44, 76);
  }
  width: 100%;
  color: white;
  height: 40px;
  border-radius: 4px;
  &-value {
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: flex;
    height: 40px;
    background-color: rgb(37, 37, 71);
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
    .select-list-icon {
      display: flex;
      margin-left: auto;
      padding-top: 0px;
    }
    .select-form-value-text {
      cursor: pointer;
      width: 100%;
      display: flex;
      margin: auto;
      margin-left: 15px;
    }
    & i {
      margin: auto;
      margin-right: 5px;
      font-size: 20px;
      transform: rotate(0);
      transition: transform 0.5s ease;
      &.list-open {
        transform: rotate(180deg);
      }
    }
  }
  &-list-options {
    position: absolute;
    right: 0;
    left: 0;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 11;
  }
  &-option {
    background-color: rgb(58, 58, 89);
    margin-bottom: 0px;
    width: 100%;
    height: fit-content;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: rgb(88, 88, 121);
    }
    & p {
      padding: 7px 0px 7px 15px;
      width: 100%;
    }
    &-check-icon {
      padding: 0px 10px;
      font-size: 22px;
      margin: auto;
    }
  }
  &-options-background {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
  }
  &-error-message {
    position: relative;
    width: 100%;
    & span {
      position: absolute;
      padding-top: 5px;
      color: red;
      left: 0;
      font-size: 12px;
    }
  }
  &-input {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
    color: white;
  }
  &-helpertext {
    font-size: 12px;
  }
}
