.table-pagination {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  gap: 4px;
  &-item {
    color: blue;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    &:hover {
      background-color: rgb(165, 165, 165);
      color: white;
    }
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid rgb(124, 184, 253);
  }
  .disable-item {
    cursor: default;
    border: 2px solid rgb(157, 157, 157);
    color: rgb(0, 0, 0);
    &:hover {
      color: rgb(0, 0, 0);
      background-color: white;
    }
  }
  .table-pagination-active {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(124, 184, 253);
    background-color: rgb(88, 195, 64);
  }
  .et-cetera-item {
    border: none;
    background-color: transparent;
    cursor: default;
    &:hover {
      color: unset;
    }
  }
}
