.input-with-unit {
  display: flex;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  .unit {
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 64, 95);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding-left: 10px;
    border: 1px solid;
    border-color: #a16eff;
    border-radius: 4px;
    flex: 1;
    height: 100%;
  }
  .select-unit {
    height: 38px;
  }
  .input-error-message {
    position: unset;
  }
}
