.cs-btn {
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  min-height: 40px;
  cursor: pointer;
  background-color: aqua;
  position: relative;
  height: 40px;

  &.btn-default {
    background-color: rgb(117, 138, 255);
    &:hover {
      color: rgb(195, 230, 2);
    }
  }
  &.disabled-btn {
    &:hover {
      color: white;
    }
    cursor: default;
  }
  .disabled-btn-ground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(33, 34, 34);
    opacity: 0.5;
  }
}
.btn-yellow {
  background-color: rgb(240, 173, 78);
  &:hover {
    color: black;
  }
}
.btn-purple {
  background-color: rgb(117, 138, 255);
  &:hover {
    color: rgb(168, 203, 147);
  }
}
